/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color:#2c3b41;
    color: white;
}
.mainpanel{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}
.panel-default>.panel-heading {
    color: white;
    background:#0972a5 url(../jquery_ui/images/ui-bg_highlight-hard_20_0972a5_1x100.png) 50% 50% repeat-x;
    background-color: rgb(9,114,165);
    border-color: rgb(38, 179, 247);
}

