//
   Created by ramirez on 23/11/2016.
- var menuFontFamily = '"Helvetica Neue",Helvetica,Arial,sans-serif;'
- var menuFontStyle = 'font-size:120%;font-weight:bold'
ul.nav.nav-pills.nav-stacked
    li(class=(topMenu === 'Home' ? 'active' : ''))
        a(href='/')
            span.glyphicon.glyphicon-home
            span(font-family=menuFontFamily style=menuFontStyle) &#32; Home
    li(class=(topMenu === 'Configuration' ? 'active' : ''))
        a(href='/editUser')
            span.glyphicon.glyphicon-cog
            span(font-family=menuFontFamily style=menuFontStyle) &#32; Configuration




